p {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: #fbdaf8;
}
#pf {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: purple;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

a:visited {
    color:lightslategray;

}

/**
.nav {
    position:absolute;
    top:100px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    height:150px;
}
#homeImage {
    position: absolute;
    top:280px;
}
**/

/** css style for highlighted content **/
.highligted {
    font-size: 24px;
    color:purple;
}